<%- include('layout/header')%>
    <div class="sort" style="margin-right: 45px; background: #000; text-align: center;">
        <button onclick="handleClick()"
            style="background: linear-gradient(45deg, #4f4fff, #4f8aff); cursor: pointer; border-radius: 12px; border: none; color: white; padding: 10px 20px; margin-right: 10px; cursor: pointer; outline: none; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); transition: transform 0.2s;">Sort
            By Name</button>
        <button
            style="background: linear-gradient(45deg, #4f4fff, #4f8aff);cursor: pointer; border-radius: 12px; border: none; color: white; padding: 10px 20px; margin-right: 10px; cursor: pointer; outline: none; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); transition: transform 0.2s;">Sort
            By E-Mail</button>
    </div>
    <div class="container" style="margin-top: 45px;">
        <div class="row">
            <div class="col-lg-12">
                <% if(message){ %>
                    <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
                        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
                        <strong>
                            <%= message.message %>
                        </strong>
                    </div>
                    <% } %>

                        <div class="table-responsive">
                            <% if (users.length> 0) { %>
                                <table class="table table-striped text-center">
                                    <thead>
                                        <tr class="table-dark">
                                            <th>ID</th>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>E-Mail</th>
                                            <th>Phone</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% users.forEach((row, index)=> { %>
                                            <tr class="align-middle">
                                                <td>
                                                    <%= index + 1 %>
                                                </td>
                                                <td><img src="<%= row.image %>" width="50" class="img-thumbnail"></td>
                                                <td>
                                                    <%= row.name %>
                                                </td>
                                                <td>
                                                    <%= row.email %>
                                                </td>
                                                <td>
                                                    <%= row.phone %>
                                                </td>
                                                <td>
                                                    <a class="text-success" href="/edit/<%= row._id %>"><i
                                                            class="fas fa-edit fa-lg mx-1"></i></a>
                                                    <a class="text-danger delete-link" href="/delete/<%= row._id %>"><i
                                                            class="fas fa-trash fa-lg mx-1"></i></a>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                                <% } else { %>
                                    <h1 class="text-center text-secondary mt-5">No Users Found</h1>
                                    <% } %>
                        </div>
            </div>
        </div>
    </div>


    <%- include('layout/footer') %>

        <script>
            // Add event listener to all delete links with class delete-link
            document.querySelectorAll('.delete-link').forEach(link => {
                link.addEventListener('click', function (event) {
                    // Prevent the default behavior of the link
                    event.preventDefault();
                    const deleteUrl = this.getAttribute('href');

                    fetch(deleteUrl, {
                        method: 'DELETE'
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            console.log('Resource deleted successfully');
                            window.location.reload();
                        })
                        .catch(error => {
                            console.error('There was a problem deleting the resource:', error);
                        });
                    console.log("Clicked delete for URL: " + deleteUrl);
                });
            });
        </script>